<div class="advice-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="well">
					<div class="advice">
						<div class="row">
							<div class="col-md-10">
								<h1 class="big">Get Started</h1>
								<h2><em>Click refresh to generate some fucking great advice</em></h2>
							</div>
							<div class="col-md-2">
								<%= link_to random_advice_path(:advice_id => 1), class: "btn btn-success", data: {disable_with: "<i class='fa fa-refresh fa-spin fa-3x'></i>"} do %>
		  							<i class="fa fa-refresh fa-3x"></i>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
