<footer class="center">
	<hr>
	Made with <i class="fa fa-beer"></i> by <a href="https://www.twitter.com/MikeLHolford" target="_blank">@MikeLHolford</a> | <a data-toggle="modal" data-target="#disclaimerModal" href="#">Disclaimer</a> - Inspired by <a href="http://goodfuckingdesignadvice.com/">these guys</a> and <a href="http://greatfuckingstartupadvice.com/">these guys</a>

</footer>
